<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered user-table">
    <tr>
      <td>時間管理表</td>
      <td>指定勤務時間：<%= format_basic_info @user.work_time %></td>
      <td>基本時間：<%= format_basic_info @user.basic_time %></td>
      <td>月初日</td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未設定" %></td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>月末日</td>
    </tr>
  </table>
</div>

<div>
  <table class = "table table-bordered table-condensed table-hover table-attendances">
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th>
          <%= link_to "←", user_path(first_day: @first_day.prev_month), class: "btn btn-xs btn-primary" %>
          &emsp;日付&emsp;
          <%= link_to "→", user_path(first_day: @first_day.next_month), class: "btn btn-xs btn-primary" %>
        </th>
        <th>曜日</th>
        <th>勤怠登録</th>
        <th>出社時刻</th>
        <th>退社時刻</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |day| %>
        <tr>
          <td><%= day.worked_on %></td>
          <td><%= $WEEKS[day.worked_on.wday] %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
