<% provide(:title, "Worker" ) %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1>出勤中社員一覧</h1>
    
    <% if @working_attendances.count != 0 %>
      <h3>現在出勤中のスタッフ：<%= @working_attendances.count.to_s %>名</h3>
      <table class = "table table-hover table-responsive">
        <thead>
          <tr>
            <th><%= User.human_attribute_name :name %></th>
            <th><%= User.human_attribute_name :department %></th>
            <th><%= Attendance.human_attribute_name :started_at %></th>
            <th><%= Attendance.human_attribute_name :note %></th>
        　</tr>
        </thead>  
        <tbody>
        　<% @working_attendances.each do |attendance| %>
            <% user = attendance.user %>
          　<tr>
              <td><%= link_to user.name, user %></td>
              <td><%= user.department_status %></td>
              <td><%= attendance.started_at %></td>
              <td><%= attendance.note %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h1>現在、出社中の社員はいません</h1>
    <% end %>
  </div>
</div>
